In [10]:
#import pandas

import pandas as pd

In [21]:
# 1.Create the DataFrame 
data={
    'Name':['Alice','Bob','charlie','Diana','Eve'],
    'Age':[27,32,44,53,21],
    'Salary': [40000,23000,22222,44444,12345],
    'Department':['HR','Finance','IT','Marketing','HR']
}
df= pd.DataFrame(data)

In [22]:
#a. Print the first five rows 
print("First five rows of the Dataframe:\n")
print(df.head())

First five rows of the Dataframe:

      Name  Age  Salary Department
0    Alice   27   40000         HR
1      Bob   32   23000    Finance
2  charlie   44   22222         IT
3    Diana   53   44444  Marketing
4      Eve   21   12345         HR

In [23]:
#b. Summary Statistics for age and salary
print("\n Summary statistics for age and Salary:")
print(df[['Age','Salary']].describe())

 Summary statistics for age and Salary:
             Age        Salary
count   5.000000      5.000000
mean   35.400000  28402.200000
std    12.973049  13388.993808
min    21.000000  12345.000000
25%    27.000000  22222.000000
50%    32.000000  23000.000000
75%    44.000000  40000.000000
max    53.000000  44444.000000

In [24]:
#c. Average salary of employess in the HR department
avg_hr_salary=df[df['Department']=='HR']['Salary'].mean
print("\n Average salary in HR department:",avg_hr_salary)

 Average salary in HR department: <bound method Series.mean of 0    40000
4    12345
Name: Salary, dtype: int64>

In [25]:
#2. Filter employees aged between 25 and 30
filtered_df =df [(df['Age']>=25)&(df['Age']<=30)]
print("\nEmplyolees aged between 25 and 30:")
print(filtered_df)

Emplyolees aged between 25 and 30:
    Name  Age  Salary Department
0  Alice   27   40000         HR

In [26]:
#3. Add a new column 'Bonus' (10% of Salary)
df['Bonus']=df['Salary']*0.10
print("\nDataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
      Name  Age  Salary Department   Bonus
0    Alice   27   40000         HR  4000.0
1      Bob   32   23000    Finance  2300.0
2  charlie   44   22222         IT  2222.2
3    Diana   53   44444  Marketing  4444.4
4      Eve   21   12345         HR  1234.5

In [27]:
#4. Group by Depaartment and Calculate average salary 
avg_salary_by_dept =df.groupby('Department')['Salary'].mean()
print("\nAverage salary by department:")
print(avg_salary_by_dept)

Average salary by department:
Department
Finance      23000.0
HR           26172.5
IT           22222.0
Marketing    44444.0
Name: Salary, dtype: float64

In [29]:
#5. Sort by salary in ascending order and save to CSV 
sorted_df=df.sort_values(by="Salary",ascending=True)
sorted_df.to_csv("sorted_employees.csv",index=False)

print("\n Sorted Dataframe saved to 'sorted_employees.csv'")

 Sorted Dataframe saved to 'sorted_employees.csv'